<html>

<head>
  <title>Zesties!</title>
  <link href="https://fonts.googleapis.com/css?family=Bevan" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="style.css">
  <!-- development version, includes helpful console warnings -->
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  <script src="fraction.js"></script>
</head>

<body>
  <div class="wrapper">
    <h1>E+C Zesty</h1>
    <div id="app">
      <h1 class="margs">{{margs}}</h1> 
      <h2>Zesties</h2>
      <input type="range" min="0" max="10" value="1" class="slider" v-model="margs" @input="update">
      <div class="recipe" v-if="margs > 0">
        <div v-for="item in ingredients" class="ingredients">
          <h3>{{item.name}}</h3>
          <p>{{item.display}}</p>
        </div>
      </div>
      <div v-else>
        <h3>Why not drink some margs?</h3>
      </div>
    </div>
  </div>
  <script src="app.js"></script>
</body>

</html>
