//General and Mobile First 
//colors
// $lime: #18FF6D;
$lime: #29D840;
$sunset: #EB5E55;
$dark: #272D2D;

//fonts
$title: "Bevan", "Helvetica", sans-serif;

body {
  //font
  color: $lime;
  font-family: $title;
  font-size: 10px;
  margin: 0;
  text-align: center;
}

h1 {
  font-size: 4rem;
}

h1, h2 {
  letter-spacing: 4px;
  margin: 0;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
}

#app {
  h2 {
    font-size: 3rem;
  }

  h3 {
    font-size: 2rem;
  }

  p {
    font-size: 1.5rem;
  }

  .slider {
    -webkit-appearance: none;

    /* Override default CSS styles */
    appearance: none;
    width: 50%;

    /* Full-width */
    height: 10px;

    /* Specified height */
    background: #d3d3d3;

    /* Grey background */
    outline: none;

    /* 0.2 seconds transition on hover */
    transition: opacity .2s;

    border-radius: 15px;
  }

  /* The slider handle (use -webkit- (Chrome, Opera, Safari, Edge) and -moz- (Firefox) to override default look) */
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;

    /* Override default look */
    appearance: none;
    width: 50px;

    /* Set a specific slider handle width */
    height: 25px;

    /* Slider handle height */
    background: $lime;

    /* Green background */
    cursor: auto;

    border-radius: 5px;
  }

  .margs {
    font-size: 6rem;
    line-height: 0.5;
  }

  .recipe {
    display: flex;
    justify-content: space-around;

    .ingredients {
      width: 30%;
    }
  }
}
